/*
## Red - 7e0607
## Lt Gray - 8a8a8a
## Dk Gray - 333333
## Cream - e9e3aa
*/

.navbar {
    top: 0;
    min-height: 70px;
    border-bottom: #7e0607 double 20px;
}

.banner {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    background-image: url('./images/banner.jpg');
    background-repeat: no-repeat;
    min-height: 545px;
}

.content-section {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 15px #808080;
    margin-top: 50px;
    margin-bottom: 60px;
}

.content-tile-section {
    margin-top: 50px;
    margin-bottom: 60px;
}

.seth-tile {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px #808080;
    margin-bottom: 25px;
}

.seth-tile-img {
    max-height: 240px;
    padding: 5px;
    max-width:100%;
}

.seth-tile-img img {
    max-height: 240px;
    padding: 5px;
    max-width:100%;
}

.main-computer {
    max-width: 50%;
}

.content-section p {
    display: block;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 5px;
    text-align: left;
}

.center {
    text-align: center;
}
